version: "3.8"

services:
  database:
    image: gimlichael/aw-mssql-server:2022-latest
    container_name: "awsql"
    hostname: "awsql"
    ports:
        - "1433:1433"
    environment:
      SA_PASSWORD:
      ACCEPT_EULA: "Y"
      SECONDS_TO_AWAIT_SQLSERVER: "45"
      MSSQL_PID: "Express"