@page ""
@model Cuemon.Extensions.AspNetCore.Mvc.Pages.IndexModel
@{
    ViewData["Title"] = "S13N.info";
}
<div id="s13n" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>
            <mark>stand·ard·i·za·tion</mark>
        </h1>
        <pre>
/stand&#601;d&#652;&#618;&#712;ze&#618;&#643;(&#601;)n/
<em>noun</em>
        <strong>the process of making something conform to a standard.</strong>
        <span class="text-muted">"training ensured standardization of procedures at all sites"</span></pre>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="//nblcdn.net/themes/s13n.info/img/s13n.png?v=@CacheBusting.Version" class="img-responsive center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <blockquote>
            The intend with this website, over time, is to collect and share as much knowledge about standards as possible, and hopefully make a movement that commits and inspire others, to follow standards.
        </blockquote>
    </div>
    <div class="col-md-2"></div>
</div>